@model IEnumerable<Devs2Blu.ProjetoFinalDeAno.Models.Entities.Newsletter>

@{
    ViewData["Title"] = "Index";
}

<h1>Tudo pronto, agora você já está inscrito para receber nossas novidades por e-mail!!!</h1>

